PROJECT_NAME="e-Learning Platform Backend"
API_V1_STR="/api/v1"
# Change this secret key in production!
SECRET_KEY="development_secret_key_change_me_in_production_1234567890"
ACCESS_TOKEN_EXPIRE_MINUTES=60 # 1 hour
BACKEND_CORS_ORIGINS=["http://localhost:5173", "http://127.0.0.1:5173", "http://localhost:3000"]
